{% extends 'layout.html.twig' %}


{% block body %}


	<div class="monImg">
		<img src="/assets/img/photo_rassemblement.jpg">
	</div>
	<section class="surImg">
		<div class="aProposDeNous">
			<h1>A propos de nous</h1>
		</div>
		<div class="texteApropos">
			<p>L'épicerie solidaire Mozart est située 14 rue Mozart à Metz. Notre objectif est d'apporter une aide au sens large aux personnes qui sont en difficulté, en particulier les travailleurs précaires et les parents isolés.
				<br>
				<br>
				Cette aide peut être alimentaire (l'épicerie vend notamment des fruits, légumes ou produits laitiers à bas prix), mais aussi culturelle (elle organise par exemple des visites du Centre Pompidou de Metz pour ses bénéficiaires), psychologique ou médicale (grâce à l'aide apportée par des médecins et psychologues bénévoles).</p>
		</div>
	</section>

	<section>
		<div class="imgTexte">
			<h2>Qu'est-ce qu'une épicerie solidaire ?</h2>
			<br>
			<p>
				En France, les différences de niveaux de vie s’écartent entre les plus aisés et les plus fragilisés. 1 français sur 4 n’arrive pas à boucler ses fins de mois (Baromètre exclusif CSA / Cofidis « Les Français et leur pouvoir d’achat » – 5e édition 2017).
				
				L’épicerie solidaire se présente comme un commerce de proximité classique, elle permet à un public en difficulté économique de réaliser ses courses et de choisir les produits qu’il souhaite consommer, en proposant des denrées de qualité entre 10% à 30% de leur valeur marchande. La force des épiceries solidaires est de proposer une offre alimentaire diversifiée et de qualité, qui permet l’accès à des produits frais et à des fruits et légumes à des personnes ayant des difficultés économiques. Ainsi, le modèle des épiceries solidaires répond à des problématiques de société et de santé publique.
				
				Les clients bénéficiaires sont orientés vers l’épicerie solidaire par un travailleur social, la durée d’accès est limitée et chaque client bénéficiaire est accompagné afin de travailler son projet personnel à réaliser durant le temps d’accès à l’épicerie solidaire. Les épiceries solidaires sont des lieux d’accueil et d’échange, elles organisent régulièrement des activités pour leurs clients bénéficiaires.
				
				Une épicerie solidaire est un lieu qui offre « une aide alimentaire qui n’en a pas l’air » !</p>
		</div>
		<div class="imgApropos">
			<img src="/assets/img/epicerie.jpg" alt="">
		</div>
	</section>


	<section>
		<div class="imgTexte2">
			<h2>Un lieu de sociabilité et d'échanges</h2>
			<br>
			<p>L’offre alimentaire des épiceries solidaires s’inscrit dans une action solidaire plus vaste. Les épiceries solidaires sont, aussi et surtout, des lieux d’accueil, d’écoute et d’échanges. Le « coup de pouce » apporté par les épiceries solidaires est un moyen d’aborder d’autres questions : la santé, l’éducation, le logement, l’emploi, la gestion du quotidien…
				<br>
				<br>
				Les épiceries solidaires organisent de nombreuses activités pour leurs clients bénéficiaires : ateliers cuisine, ateliers créatifs, ateliers d’esthétique, ateliers enfants-parents, sorties culturelles… permettant ainsi aux clients bénéficiaires de tisser des liens, de sortir du quotidien et de développer des compétences.
				<br></p>
		</div>
		<div class="imgApropos">
			<img src="/assets/img/reunion.jpg" alt="">
		</div>

	</section>


{% endblock %}
