{% extends 'layoutEnglish.html.twig' %}


{% block body %}


	<div class="monImg">
		<img src="/assets/img/265736972_2026996420783013_2426933305075853626_n.jpg">
	</div>
	<section class="surImg">
		<div class="aProposDeNous">
			<h1>About Us</h1>
		</div>
		<div class="texteApropos">
			<p>The Mozart solidarity grocery store is located 14 rue Mozart in Metz. Our objective is to provide assistance in the broad sense to people who are in difficulty, especially precarious workers and lone parents. <br>
			<br>
			This aid can be food (the grocery store sells fruits, vegetables or dairy products at low prices), but also cultural (for example, it organises visits to the Centre Pompidou in Metz for its beneficiaries), psychological or medical (with help from volunteer doctors and psychologists).</p>
		</div>
	</section>

	<section>
		<div class="imgTexte">
			<h2>What is a solidarity grocery store?</h2>
			<br>
			<p>
				The solidarity grocery store presents itself as a classic local business, it allows a public in economic difficulty to carry out its shopping and to choose the products it wishes to consume, by offering quality food between 10% and 30% of their market value. The strength of the solidarity grocery stores is to offer a diversified and quality food supply, which allows people with economic difficulties access to fresh products and fruits and vegetables. Thus, the solidarity grocery store model responds to social and public health issues.</p>
		</div>
		<div class="imgApropos">
			<img src="/assets/img/epicerie.jpg" alt="">
		</div>
	</section>


		<section>
		<div class="imgTexte2">
			<h2>A place of sociability and exchange</h2>
			<br>
			<p>The food supply of solidarity grocery stores is part of a broader solidarity action. Solidarity grocery stores are also, and above all, places of welcome, of listening and of exchange. The “boost” provided by solidarity grocery stores is a way to address other issues: health, education, housing, employment, day-to-day management…	<br>
					<br>
				The solidarity grocery stores organize many activities for their beneficiary customers: cooking workshops, creative workshops, beauty workshops, parent workshops, cultural outings, etc. enabling beneficiary clients to build relationships, get out of everyday life and develop skills.	<br></p>
		</div>
		<div class="imgApropos">
			<img src="/assets/img/9907640_4293766.jpg" alt="">
		</div>

	</section>


{% endblock %}
