{% extends 'layout.html.twig' %}



{% block body %}


<div class="monImg">
<img src="/assets/img/265736972_2026996420783013_2426933305075853626_n.jpg">
</div>
	<section class="surImg">
		<div class="aProposDeNous">
			<h1>A propos de nous</h1>
		</div>
		<div class="texteApropos">
			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
				sed do eiusmod tempor incididunt ut labore et dolore magna "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
				sed do eiusmod tempor incididunt ut labore et dolore magna "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
				sed do eiusmod tempor incididunt ut labore et dolore magna</p>
		</div>
	</section>
	<section>
	<div class="imgApropos">
	<img src="" alt="">
	</div>
	<div class="imgTexte"></div>
	</section>


{% endblock %}