{% extends "admin.layout.html.twig" %}

{% block body %}
<main class="mainAddEvent">
    {% if toaster.hasMessages() %}
        {{ toaster.render() }}
    {% endif %}

   <form method="post" action="{{ path('admin.add-event') }}" class="formAddEvent"  enctype="multipart/form-data">

        <h1>Ajouter un événement</h1>
        <hr class="traitFormulaire">
        <div class="divNom">
            <label for="name">Nom :</label>
            <input type="text" id="name" name="name" class="nomAddEvent" required>
        </div>
        <div class="divDesc">
            <label for="description">Description :</label>
            <textarea id="description" name="description" required></textarea>
        </div>
        <div class="divDateDebut">
            <label for="startDate">Date de début :</label>
            <input type="datetime-local" id="startDate" name="startDate" required>
        </div>
        <div class="divDateFin">
            <label for="endDate">Date de fin :</label>
            <input type="datetime-local" id="endDate" name="endDate" required>
        </div>
          <div class="form-group">
            <label class="input-group-text" for="img">Image :</label>
            <input type="file" name="img" class="form-control" id="img">
        </div>
        <div class="divBouton">
            <button class="boutonEvent" type="submit">Ajouter l'événement</button>
        </div>

    </form>
    </main>

{% endblock %}
