{% extends "admin.layout.html.twig" %}

{% block title %}Modifier la date{% endblock %}

{% block body %}
    <h1>Modifier la date de l'événement "{{ event.title }}"</h1>

    <form method="POST">
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" class="form-control" value="{{ eventDate.date|date('Y-m-d') }}">
        </div>

        <button type="submit" class="btn btn-primary">Modifier la date</button>
    </form>
{% endblock %}