{% extends 'layout.html.twig' %}

{% block body %}


<h1>Bienvenue sur la page Evenement de l'Epicerie Mozart</h1>

<div><h2><a href="">Cuisine</a></h2></div> <div><h2><a href="">Coiffeur/Barbier</a></h2></div> 

{% endblock %}