.formAddEvent{
    border: solid 1px;
    border-radius: 10px;
    background-color: #A6BA41;
    width: 30%;
    height: 450px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: 'roboto', sans-serif;
}
.divNom{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
}
.divDesc{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
}
.divDateDebut{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
.divDateFin{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
.form-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 50%;
}
.divBouton{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.boutonEvent{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: #DBA10F;
    margin-bottom: 20px;
}
.traitFormulaire{
    width: 80%;
}
.mainAddEvent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90dvw;
    margin-top: 5%;
    background-color: #a6ba418e;
}
