.imageContact2 {
  width: 900px;
}

.monImage2 {

  display: flex;
  justify-content: center;
  margin-left: 500px;
  height: 700px;
  margin-top: 100px;
}

.barreverte {
  background-color: #A6BA41;
  width: 150px;
  height: 700px;
  position: absolute;
  margin-top: 0px;
  opacity: 0.5;
  margin-right: 750px;
}

.caseContact2 {
  background-color: white;
  margin-top: 40px;
  margin-left: 300px;
  border-left: 10px #A6BA41 solid;
  width: 550px;
  height: 610px;
  position: absolute;
  z-index: 1;
}

.caseContact2 h2 {
  font-family: 'Candal', sans-serif;
}

.caseContact2 p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  width: 400px;
}

.blocContact2 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 510px;
  margin-left: 50px;
}

.caseContact2 hr {
  width: 400px;

}

.contactPDG2 {
  margin-left: 200px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}