.formEditEvent{
    border: solid 1px;
    border-radius: 10px;
    background-color: #A6BA41;
    width: 20%;
    height: 450px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.divNomEdit{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
}
.divDescEdit{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
}
.formDateDebutEvent{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
.formDateFinEvent{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
.form-control2{
    width: 100%;
}
.form-control3{
    width: 160%;
}
.form-control4{
    width: 160%;
    height: 110px;
}
.form-group2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 50%;
}
.divBoutonEvent{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.boutonEditEvent{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: #DBA10F;
    margin-bottom: 20px;
}
.traitFormulaireEdit{
    width: 80%;
}
.mainEditEvent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90dvw;
    margin-top: 5%;
    background-color: #a6ba418e;
}
