
.zoneNom{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    background-color: #A6BA41;
}
.nom::first-letter{
    text-transform: capitalize;
    margin-left: 6px;
}

.cuisine{
    border: solid 1px;
    width: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: white;

}

.cuisine img{
    width: 90%;
}

.zoneEvent{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5%;
}

.coiffeur{
    border: solid 1px;
    width: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: white;

}
.inputCuisine{
    width: 50%;
    height: 10%;
}
.cuisineBouton{
    background-color: #DBA10F;
    width: 95%;
    height: 100%;
    border-radius: 5px;

}
.inputCoiffeur{
    width: 50%;
    height: 10%;
}
.coiffeurBouton{
    background-color: #DBA10F;
    width: 95%;
    height: 100%;
    border-radius: 10px;

}
.coiffeur img{
    width: 90%;
}
.dispoEvent{
    margin-top: 2.5%;
    display: flex;
    margin-left: 5%;
    border-bottom: solid #DBA10F;
    width: 21%;
}

hr{
    width: 80%;
}


.sectionMedecin{
    width: 100%;
    margin-top: 6%;
    height: 1000px;
    overflow: hidden;
}
.sectionMedecin img{
    width: 100%;
    height: 50%;
}

.annonceMedecin{
    position: absolute;
        width: 80%;
    height: 10%;
    margin-top: 5%;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a6ba41c1;
    margin-left: 10%;
}

.texteMedecin{

    position: absolute;
    margin-top: -40%;
    width: 70%;
    height: 20%;
    margin-left: 14.5%;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    background-color: #a6ba41a1;
 
}