 .listEvent{
    margin-top: 3%;
    text-align: center;
    background-color: #A6BA41;
    
}

.nomEvent{

    text-align: inherit;

}

.sectionEvent{
    border: solid 1px;
    width: 25%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 2%;
}

.zoneEvent{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.cuisineImg{
    width: 15%;
    position: absolute;
    margin-left: -760px;
    margin-top: 50px;
    border-radius: 10px;
}

.coiffeurImg{
    width: 15%;
    position: absolute;
    margin-left: 760px;
    margin-top: 50px;
    border-radius: 10px;
}

.description{
    width: 95%;
}

.reserver{
    margin-bottom: 1%;
    width: 74%;
} 

.boutonDelete{
    background-color: #DBA10F;
    width: 200px;
    height: 30px;
    border-radius: 8px;
    font-family: 'candal', sans-serif;
}

.boutonModif{
    background-color: #DBA10F;
    width: 200px;
    height: 30px;
    border-radius: 8px;
    font-family: 'candal', sans-serif;
}
.traitListeEvent{
    width: 70%;
    background-color: #DBA10F;
    height: 1px;
    border: none;
}
.mainListAdmin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90dvw;
    margin-top: 5%;
    background-color: #a6ba418e;
}
