.maVideo {

    width: 100%;
    height: 800px;
    overflow: hidden;

}

.myVideo {
    width: 100%;

}


.presentation {
    background-color: #A6BA41;
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -700px;
    margin-left: 740px;
    color: white;
    font-size: 30px;
    font-family: 'Candal', sans-serif;
}
.presentation h1{
  margin-bottom: 10px;
}
.texte {
    background-color: #A6BA41;
    width: 900px;
    position: absolute;
    margin-top: -400px;
    margin-left: 27%;
    text-align: center;
    color: white;
    font-size: 29px;
    font-family: 'Roboto', sans-serif;
}

.boutton {
    position: absolute;
    margin-top: -150px;
    margin-left: 80%;
    color: white;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    
}

button {
    background-color: #DBA10F;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}


.map {
    margin-left: 750px;
    margin-top: 50px;

}

.miniMap{
  width: 900px;
  height: 700px;
}

.where {
    border-left: 10px #DBA10F solid;
    width: 600px;
    height: 600px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 210px;
    background-color: white;


}

.ouNousTrouver {
    width: 500px;
    font-family: 'Candal', sans-serif;

}

.ouNousTrouver h2 {
    font-size: 30px;
    margin-bottom: 2%;
}

.ouNousTrouver p {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2%;
}

.ouNousTrouver hr {
    width: 60%;
}

.maVideo2 {

    width: 1000px;
    height: 650px;
    overflow: hidden;
    margin-left: 650px;
    margin-top: 100px;

}

.myVideo2 {
    width: 1200px;
    height: 760px;
}

.barreverte1 {
  background-color: #A6BA41;
  width: 150px;
  height: 608px;
  position: absolute;
  margin-top: 42px;
  opacity: 0.5;
  margin-right: 650px;
}

.caseContact {
    background-color: white;
    margin-top: 70px;
    margin-left: 210px;
    border-left: 10px #A6BA41 solid;
    width: 550px;
    height: 555px;
    position: absolute;
    z-index: 1;


}
.caseContact h2{
  font-family: 'Candal', sans-serif;
}
.caseContact p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.blocContact {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 510px;
    margin-left: 50px;
    
}

.caseContact hr {
    width: 100%;

}
.contactPDG{
  margin-left: 200px; 
  border: none; 
  background-color: white; 
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
