.maVideo {

    width: 100%;
    height: 780px;
    overflow: hidden;

}

.myVideo {
    width: 100%;

}


.presentation {
    background-color: #A6BA41;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -700px;
    margin-left: 760px;
    color: white;
    font-size: 35px;
}

.texte {
    background-color: #A6BA41;
    width: 50%;
    position: absolute;
    margin-top: -450px;
    margin-left: 500px;
    text-align: center;
    color: white;
    font-size: 35px;
}

.boutton {
    position: absolute;
    margin-top: -150px;
    margin-left: 1500px;
    color: white;
    font-size: 35px;
}

button {
    background-color: #DBA10F;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
}


.map {
    margin-left: 47%;
    margin-top: 3.5%;
}

.where {
    border-left: 10px #DBA10F solid;
    width: 38%;
    height: 53%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
    margin-left: 12%;
    background-color: white;

}

.ouNousTrouver {
    width: 85%;
    font-weight: bold;
}

.ouNousTrouver h2 {
    font-size: 30px;
}

.ouNousTrouver p {
    font-size: 20px;
}

.ouNousTrouver hr {
    width: 60%;
}

.maVideo2 {

    width: 60%;
    height: 550px;
    overflow: hidden;
    margin-left: 34.3%;
    margin-top: 5%;

}

.myVideo2 {
    width: 100%;
}

.barreverte {
    background-color: #A6BA41;
    width: 15%;
    height: 59.2%;
    position: absolute;
    opacity: 0.5;
}

.caseContact {
    background-color: white;
    margin-top: 1.5%;
    margin-left: 12%;
    border-left: 10px #A6BA41 solid;
    width: 35%;
    height: 53%;
    position: absolute;
    z-index: 1;

}

.blocContact {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin-left: 10%;
}

.caseContact hr {
    width: 100%;

}

    @media screen and (max-width: 768px) {
 
        .maVideo {

            width: 100%;
            height: 450px;
            overflow: hidden;
        
        }
        .myVideo{
          width: 200%;
          height: 450px;
        }
        .presentation {
          width: 80%;
          margin-top: -350px;
          margin-left: 10%;
          font-size: 25px;
        }
      
        .texte {
          width: 80%;
          margin-top: -220px;
          margin-left: 10%;
          font-size: 25px;
        }
      
        .boutton {
          margin-top: -70px;
          margin-left: 60%;
          font-size: 25px;
        }
      
        .map {
          margin-left: 0;
          width: 100%;
          height: 200px;
          position: absolute;
          margin-top: -480px;
        }
        iframe{
          width: 100%;
          height: 100%;
        }

        .where {
          width: 100%;
          margin-top: 40px;
          margin-left: 0;
          height: 550px;
          z-index: -1;
          flex-direction: column;
          position: relative;
        }
      
        .ouNousTrouver h2 {
          margin-top: 5%;
          font-size: 20px;
          margin-bottom: 75%;
        }
      
        .ouNousTrouver p {
          font-size: 13px;
        }
        .maVideo2 {
          height: 350px;
          margin-top: 50px;
          margin-left: 10%;
          width: 80%;
          display: none;
        }
      
        .barreverte {
          height: 30%;
          width: 10%;
          margin-top: 40%;
        }
      
        .caseContact {
          margin-top: 5%;
          width: 100%;
          height: 500px;
          border-left: none;
          border-top: 10px #A6BA41 solid;
          position: relative;
          margin-left: 0px;

        }
      
        .blocContact {
          width: 80%;
          margin-left: 20px;
          margin-top: 0;
          height: auto;

        }
      
        .caseContact hr {
          margin-top: 2%;
        }
      }
      