.maVideo {

    width: 100%;
    height: 780px;
    overflow: hidden;

}

.myVideo {
    width: 100%;

}

/* .scroll-down {
    position: absolute;
    bottom: 500px;
    left: 95%;
    transform: translateX(-50%);
   border: solid;
   width: 5%;
   height: 10%;
   display: flex;
   justify-content: center;
   border-radius: 50px;
   background-color: antiquewhite;
  } */

/* .arrow-down {
    border: solid ;
    border-width: 0 10px 10px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
   */


.presentation {
    background-color: #A6BA41;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -700px;
    margin-left: 760px;
    color: white;
    font-size: 35px;
}

.texte {
    background-color: #A6BA41;
    width: 50%;
    position: absolute;
    margin-top: -450px;
    margin-left: 500px;
    text-align: center;
    color: white;
    font-size: 35px;
}

.boutton {
    position: absolute;
    margin-top: -150px;
    margin-left: 1500px;
    color: white;
    font-size: 35px;
}

button {
    background-color: #DBA10F;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
}


.map {
    margin-left: 47%;
    margin-top: 3.5%;
}

.where {
    border-left: 10px #DBA10F solid;
    width: 38%;
    height: 53%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
    margin-left: 12%;
    background-color: white;

}

.ouNousTrouver {
    width: 85%;
    font-weight: bold;
}

.ouNousTrouver h2 {
    font-size: 30px;
}

.ouNousTrouver p {
    font-size: 20px;
}

.ouNousTrouver hr {
    width: 60%;
}

.maVideo2 {

    width: 60%;
    height: 550px;
    overflow: hidden;
    margin-left: 34.3%;
    margin-top: 5%;

}

.myVideo2 {
    width: 100%;
}

.barreverte {
    background-color: #A6BA41;
    width: 15%;
    height: 57.3%;
    position: absolute;
    opacity: 0.5;
}

.caseContact {
    background-color: white;
    margin-top: 1%;
    margin-left: 12%;
    border-left: 10px #A6BA41 solid;
    width: 35%;
    height: 53%;
    position: absolute;
    z-index: 1;

}

.blocContact {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin-left: 10%;
}

.caseContact hr {
    width: 100%;

}