
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90dvw;
    margin-top: 5%;
    background-color: #a6ba418e;
}

.userFormViewPort {
    min-width: 450px;
    height: fit-content;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 15px;
    background-color: #A6BA41;


}

.formContainer {
    width: 100%;
    position: relative;
    height: 550px;
    background-color: #A6BA41;

}

.formContainer form {
    position: absolute;
    min-width: 450px;
    transition: .5s all ease-in-out;
    height: 100%;


}

.formConnexion {
    top: 15%;
    left: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.formInscription {
    top: 0;
    left: 110%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.btn-primary{
 width: 40%;
 height: 40px;
 border-radius: 5px;
 background-color: #DBA10F;
 border: solid 1px;
 cursor: pointer;
 margin-top: 3%;
 font-family: 'candal', sans-serif;

}

.btn-secondary{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    background-color: #DBA10F;
    border: solid 1px;
    cursor: pointer;
    margin-top: 3%;
    font-family: 'candal', sans-serif;

   }
   .btn-group{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   }

.form-control{
    width: 80%;
    height: 30px;

}
.submit{
    width: 48%;
    height: 30px;
    margin-top: 10%;
    border-radius: 5px;
    background-color: #DBA10F;
    border: solid 1px;
    cursor: pointer;
    font-family: 'roboto', sans-serif;
}

.form-floating{
    margin-top: 5%;
}

.mb-3{
    margin-top: 3%;
}


.cliquez{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.mdpOublier{
    margin-top: 3%;
}


.g-recaptcha{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;

}
.submit2{
    width: 48%;
    height: 30px;
    margin-top: 3%;
    border-radius: 5px;
    background-color: #DBA10F;
    border: solid 1px;
    cursor: pointer;
}
.monImg{
    z-index: -1;
    width: 100%;
    position: absolute;
}
.monImg img{
    width: 100%;
}

.zoneDeco{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
margin-top: -10%;

}
.deco{
    width: 35%;
    height: 30px;
    margin-top: 3%;
    margin-bottom: 3%;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: #DBA10F;
    border: solid 1px;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
}

.deco p{
    margin-top: 2.5%;
}

@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 90dvw;
        margin-top: 5%;
        background-color: #a6ba418e;
    }
    
    .userFormViewPort {
        min-width: 350px;
        height: fit-content;
        overflow: hidden;
        border: 1px solid rgba(0,0,0,0.4);
        border-radius: 15px;
        background-color: #A6BA41;
    
    
    }
    
    .formContainer {
        width: 100%;
        position: relative;
        height: 550px;
        background-color: #A6BA41;
    
    }
    
    .formContainer form {
        position: absolute;
        min-width: 350px;
        transition: .5s all ease-in-out;
        height: 100%;
    }
    .btn-primary{
        width: 40%;
        height: 40px;
        border-radius: 5px;
        background-color: #DBA10F;
        margin-top: 5%;
        margin-left: 5%;
        border: solid 1px;
        cursor: pointer;
       
       }
       
       .btn-secondary{
           width: 40%;
           height: 40px;
           border-radius: 5px;
           margin-top: 5%;
           margin-right: 5%;
           background-color: #DBA10F;
           border: solid 1px;
           cursor: pointer;
          }
          .btn-group{
           width: 100%;
           display: flex;
           align-items: center;
           justify-content: space-between;
          }
       .monImg{
        display: none;
       }
}